<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <style>
        .button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <div class="container"><h1><%= title %></h1><h4>date: <%= date %></h4></div>
    <div class="container"><a href="/app" class="button"><svg width="24" height="24" viewBox="0 0 16 16" id="chat-square-heart"><path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path><path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132z"></path></svg></a></div>
    <div class="container"><hr><p><a href="https://ejs.co/">https://ejs.co/</a></p><a href="https://www.npmjs.com/package/kloudglue-alasql">Alasql</a><p><a href="https://www.npmjs.com/package/kloudglue-alasql">NPM</a></p></div>
    
</body>
</html>